body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #f1efe9;
}

h1,
p {
  margin: 0;
}

.arrow {
  display: none;
}

.hedin-1 {
  font-size: 68px;
  font-weight: 300;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding: 1.5rem 1.1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 20% 1fr 25%;
  grid-template-areas:
    "hedin hedin"
    "dog para "
    "turtle tiger";
}

.hedin-1 {
  grid-area: hedin;
}

.para-container p {
  font-size: 22px;
  font-weight: 300;
}

.para-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.para-container a {
  font-size: 22px;
  font-family: 300;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
