body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
p {
  margin: 0;
}

.arrow {
  display: none;
}

.hedin-1 {
  font-size: 68px;
  font-weight: 300;
}

img {
  width: 100%;
}

section {
  padding: 1.5rem 1.1rem;
  display: grid;
}
